<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testSqlMapper">

	<resultMap type="Map" id="testTable01">
		<result javaType="String" column="TEST_ID" property="id" />
		<result javaType="String" column="TEST_NM" property="name" />
		<result javaType="String" column="TEST_CONTENT" property="content" />
	</resultMap>

	<select id="selectTestValue" resultMap="testTable01" parameterType="String">
		SELECT
		TEST_ID ,
		TEST_NM ,
		TEST_CONTENT
		FROM TB_TEST_01
	</select>

</mapper>